main{
    width: 1000px;
    height: 350px;
    border: 1px solid;
    margin: 0 auto;
}

.red{
    color: red;
}

.black{
   color: #2F327D;;
}
.title{
    text-align: center;

}
h1{
color: #FC377E;
}
.Симпатичные-девушки{
    display: flex;
    margin-left: 200px;
    gap: 10px;
    box-shadow: 10px 10px 10px grey;
}
img h6{
    margin-left: 200px;
}
.Желание-зарабатывать{
    display: flex;
    margin-left: 80px;
    gap: 20px;
}
.алкоголем-наркотиками{
    display: flex;
   margin-left: 74px;
   gap: 20px;
}
.общаться-поклонниками{
    display: flex;
     margin-left: 200px;
     gap:15px;
}
.usloviya-list2{
    display: flex;
  
}
.Приятная-аккуратна{
    display: flex;
    margin-left: 90px;
    gap: 20px;
}
.Вы-хотитея{
    display: flex;
margin-left: 78px;
gap: 20px;
}
@media screen and  (max-width: 920px){
    main{
        width: 100%;        
    }
.usloviya-list{
   width: 100%;
//    flex-direction: column;
}
.usloviya-list2{
    width: 30%;
    
}
// Симпатичные-девушки{

// }



}
